*,
*::after,
*::before {
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
}

/* ------- Task App related --------- */

.logo-section {
  display: inline;
  height: 100px;
  margin-right: 5rem;
}

.header {
  margin: 1rem .75rem 0;
}

.header-btn {
  margin-right: 1rem;
}

.container {
  /* height: 550px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task { padding: .5rem; margin: .5rem;}
.add-task { margin-left: 1rem; }
.task-control-section { text-align: right; }
.task-control:hover, .task-control:focus { cursor: pointer; }
.ci-edit-btn, .ci-delete-btn, .ci-done-btn {
  font-size: 1.125rem;
  margin-top: .45rem;
  box-shadow: 0px 1px 10px 0px lightblue;
  margin-left: .55rem;
}

.ci-done-btn {
  border-radius: 50%;
}

.rights {font-size: .75rem;}
.task, .create-task-form { box-shadow: 0px 1px 10px 0px lightblue; border-radius: 10px;}

.task-list {
  /* width: 700px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: .75rem;
}

.task-detail > h2 {
  margin-bottom: -1rem;
}

.create-task-form { 
  width: 220px;
  padding: .75rem .5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 80%;
  height: 80%;
  background-color: lightblue;
  margin: auto auto;
}

.fields { margin-bottom: 1rem; }
input.fields { 
  padding: .5rem; 
  border: 1px solid lightblue; 
  border-radius: 10px; 
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}
button.fields:nth-last-of-type(1) { margin-left: 1rem; }

.time-section { 
  font-size: .75rem;
}

.add-new-task-btn, .update-task-btn, .cancel-task-btn {
  font-size: .825rem;
  font-weight: 500;
  letter-spacing: 1.1px;
}

.tooltip_element {
  position: relative;
}

.tooltip {
  position: absolute;
  /* background-color: black; */
  /* color: white; */
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1s;
  top: -20px;
  /* left: 80px; */
  width: max-content;
  font-size: .75rem;
}

.tooltip_element:hover .tooltip {
  opacity: 1;
}

.editable-task {
  position: relative;
}

textarea.fields {
  height: 10vh;
  width: 30%;
  font-family: inherit;
  border: none;
  outline: none;
  /* font-size: inherit; */
}

.update-task-btn, .cancel-task-btn {
  font-size: 1em;
}

@media (max-width: 720px) {
  .task-list {
    flex-direction: column;
  }

  .add-new-task-btn {
    width: 90%;
  }

  .ci-edit-btn, .ci-delete-btn, .ci-done-btn {
    font-size: 1.5rem;
    margin-top: .45rem;
    margin-left: 1rem;
  }

  /* .fields {
    font-size: 1.5rem;
  } */

  input.fields {
    width: 80%;
  }

  textarea.fields {
    height: 10vh;
    width: 80%;
    font-family: inherit;
    border: none;
    outline: none;
    /* font-size: inherit; */
  }

  .create-task-from-btn {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  button.fields:nth-last-of-type(1) { margin-left: 0; }

  .update-task-btn, .cancel-task-btn {
    width: 90%;
    font-size: 1.15rem;
  }

  
}