*,
*::after,
*::before {
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  overflow: hidden;
}

/* ------- Task App related --------- */

.logo-section {
  display: inline;
  height: 100px;
  margin-right: 5rem;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


header, footer {
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  width: 100vw;
  background-color: lightblue;
  padding: .325rem;
}

footer > div > a {
  color: inherit;
  text-decoration: underline;
}

header {
  width: 50vw;
  margin: 1rem .75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-bottom: 1px solid lightblue;
}

.header-btn {
  margin-left: 1rem;
}

.desc {
  width: 80vw;
  margin: 0 auto;
}

.task { padding: .5rem; margin: .5rem;}
.add-task { margin-left: 1rem; }
.task-control-section { text-align: right; }
.task-control:hover, .task-control:focus { cursor: pointer; }
.ci-edit-btn, .ci-delete-btn, .ci-done-btn {
  font-size: 1.125rem;
  margin-top: .45rem;
  box-shadow: 0px 1px 10px 0px lightblue;
  margin-left: .55rem;
}

.ci-done-btn {
  border-radius: 50%;
}

.rights {font-size: .75rem;}
.task, .create-task-form { box-shadow: 0px 1px 10px 0px lightblue; border-radius: 10px;}

.task-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: .75rem;
}

.task-detail > h2 {
  margin-bottom: -1rem;
}

.create-task-form { 
  padding: .75rem .5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 80%;
  height: 80%;
  background-color: lightblue;
  margin: auto auto;
}

.fields { margin-bottom: 1rem; }
input.fields { 
  padding: .5rem; 
  border: 1px solid lightblue; 
  border-radius: 10px; 
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}
button.fields:nth-last-of-type(1) { margin-left: 1rem; }

.time-section { 
  font-size: .75rem;
}

.add-new-task-btn, .update-task-btn, .cancel-task-btn {
  font-size: .825rem;
  /* font-weight: 500; */
  letter-spacing: 1.1px;
}

.tooltip_element {
  position: relative;
}

.tooltip {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1s;
  top: -20px;
  width: max-content;
  font-size: .75rem;
}

.tooltip_element:hover .tooltip {
  opacity: 1;
}

textarea.fields {
  border: 1px solid lightblue; 
  height: 10vh;
  width: 30%;
  font-family: inherit;
  outline: none;
  font-size: inherit;
}

.desc > h3 {
  overflow: hidden;
  border-right: .15em solid lightblue;
  margin: 0 auto;
  letter-spacing: .05em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media (max-width: 500px) {
  .task-list {
    flex-direction: column;
  }

  .add-new-task-btn {
    width: 90%;
  }

  .ci-edit-btn, .ci-delete-btn, .ci-done-btn {
    font-size: 1.5rem;
    margin-top: .45rem;
    margin-left: 1rem;
  }

  input.fields {
    width: 80%;
  }

  textarea.fields {
    width: 80%;
  }

  .create-task-from-btn {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  button.fields:nth-last-of-type(1) { margin-left: 0; }

  .update-task-btn, .cancel-task-btn {
    width: 70%;
    /* font-size: 1.15rem; */
  }

  header {
    width: 100vw;
  }
}

@media(min-width: 501px) and (max-width: 940px) {
  .header-btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
